footer {
  background: $dark-gray;
  padding: 15px 0;
}

@media print, screen and (min-width: get-media-queries(medium)) {
  footer {
    padding: 25px 0;

    .row {
      margin-bottom: 25px;
    }

    textarea {
      height: 100px !important;
    }
  }
}
