@font-face{
	font-family: 'Roboto-Light';
	src: url('../fonts/roboto_light/Roboto-Light-webfont.eot');
	src: url('../fonts/roboto_light/Roboto-Light-webfont.eot?iefix') format('eot'),
	     url('../fonts/roboto_light/Roboto-Light-webfont.woff') format('woff'),
	     url('../fonts/roboto_light/Roboto-Light-webfont.ttf') format('truetype'),
	     url('../fonts/roboto_light/Roboto-Light-webfont.svg#Roboto-Light-webfont') format('svg');
}

@font-face{
	font-family: 'Roboto-Black';
	src: url('../fonts/roboto_black/Roboto-Black-webfont.eot');
	src: url('../fonts/roboto_black/Roboto-Black-webfont.eot?iefix') format('eot'),
	     url('../fonts/roboto_black/Roboto-Black-webfont.woff') format('woff'),
	     url('../fonts/roboto_black/Roboto-Black-webfont.ttf') format('truetype'),
	     url('../fonts/roboto_black/Roboto-Black-webfont.svg#Roboto-Black-webfont') format('svg');
}

$roboto_light: 'Roboto-Light';
$roboto_black: 'Roboto-Black';

.text-bold {
	font-weight: bold;
}

.text-black {
	font-family: $roboto_black;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-white {
	color: white;
}

.text-underscore {
	position: relative;
	margin-bottom: 25px;

	&::after {
		bottom: -10px;
    border-bottom: 5px solid #0BB5E5;
    content: '';
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 15%;
	}
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
	background: white;
	border: 1px solid white;
	//color: white;
	font-family: inherit;
	font-size: 1rem;
	height: 2rem;
	margin-bottom: 10px;
	padding: 0 5px;
	width: 100%;

	&:focus{
		outline: 2px solid $sky;
	}
}

@media print, screen and (min-width: get-media-queries(medium)) {
	.medium-text-left {
		text-align: left;
	}
}

.spacing-large {
	margin-bottom: 25px;
}
