<footer class="row expanded columns">
  <div class="row">
    <div class="small-12 medium-8 columns">
      <iframe class="footer-column-map" frameborder="0" height="350" marginheight="0" marginwidth="0" scrolling="no" src="http://www.openstreetmap.org/export/embed.html?bbox=-73.57551455497742%2C45.500103828079745%2C-73.57200890779495%2C45.501801425944834&amp;layer=hot&amp;marker=45.50095263341041%2C-73.57376173138618" width="100%"></iframe>
    </div>
    <div class="small-12 medium-4 columns">
      <h5 class="text-white text-uppercase">Office de consultation publique<br>de Montréal</h5>
      <p class="text-white">
        1550, rue Metcalfe – Bureau 1414<br>
        Montréal (Québec) H3A 1X6<br>Téléphone : 514 872-3568<br>
        Station de métro Peel
      </p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-6 columns">
      <h4 class="text-center text-white text-uppercase text-bold">Nous contacter</h4>
      <form>
        <input type="text" placeholder="Prénom"></input>
        <input type="text" placeholder="Nom"></input>
        <input type="text" placeholder="Courriel"></input>
        <input type="text" placeholder="Sujet"></input>
        <textarea type="text" placeholder="Message"></textarea>
        <input type="submit" value="Soumettre" class="button"></input>
      </form>
    </div>
    <div class="small-12 large-6 columns">
      <h4 class="text-center text-white text-uppercase text-bold">S'inscrire à l'infolettre</h4>
      <form>
        <input type="text" placeholder="Prénom"></input>
        <input type="text" placeholder="Nom"></input>
        <input type="text" placeholder="Courriel"></input>
        <input type="submit" value="S'inscrire" class="button"></input>
      </form>
    </div>
  </div>
</footer>
