<div class="home-slider-slide" style="background: url('assets/img/montreal.jpg')">
  <div class="slide-content text-white">
    <h1 class="text-uppercase">Plan de développement urbain, économique et social pour les quartiers aux abords de l'échangeur Turcot</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
    <a>Lire plus</a>
  </div>
  <div class="slide-cat text-center text-white text-uppercase">
    <p>Consultation<br />Publique</p>
  </div>
</div>
