<nav class="nav-main">
  <a href="">
    <img class="nav-main-logo" alt="logo" src="assets/img/logo.png"/>
  </a>
  <div class="float-right">
    <ul class="nav-main-menu">
      <li><a class="text-uppercase" href="">Consultations publiques</a></li>
      <li><a class="text-uppercase" href="">Publications</a></li>
      <li><a class="text-uppercase" href="">Événements spéciaux</a></li>
    </ul>

    <ul class="nav-main-tools">
      <li><a href=""><img src="http://placehold.it/65x65" /></a></li>
      <li><a href=""><img src="http://placehold.it/65x65" /></a></li>
      <li><a href=""><img src="http://placehold.it/65x65" /></a></li>
      <li><a href=""><img src="http://placehold.it/65x65" /></a></li>
    </ul>
  </div>
</nav>
