<form class="nav-main-search">
  <input class="custom-search-box" type="text"></input>
  <input id="nav-main-search-submit1"></input>
</form>

<ul class="nav-main-menu">
  <li><a class="text-uppercase" href="">Consultations publiques</a></li>
  <li><a class="text-uppercase" href="">Publications</a></li>
  <li><a class="text-uppercase" href="">Événements spéciaux</a></li>
</ul>

<ul class="nav-main-tools">
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
</ul>
